<div *ngIf="showMe">
<p>Fruit Name:{{item.name.toUpperCase()}}</p>
<p>Amount of Items Purchased:{{item.purchase}}</p>
<p>Price:${{item.price}}</p>
<p>Product Description:{{item.descript}}</p>
<ul>
    Comments:
    <li>
        <p>User:{{item.comments[0].user}}</p>
        <p>Rating: {{item.comments[0].rating}}</p>
        <p>Comment: {{item.comments[0].value}}</p>
    </li>
    <li>
        <p>User:{{item.comments[1].user}}</p>
        <p>Rating: {{item.comments[1].rating}}</p>
        <p>Comment: {{item.comments[1].value}}</p>
    </li>
    <li>
        <p>User:{{item.comments[2].user}}</p>
        <p>Rating: {{item.comments[2].rating}}</p>
        <p>Comment: {{item.comments[2].value}}</p>
    </li>
    <li>
        <p>User:{{item.comments[3].user}}</p>
        <p>Rating: {{item.comments[3].rating}}</p>
        <p>Comment: {{item.comments[3].value}}</p>
    </li>
    <li>
        <p>User:{{item.comments[4].user}}</p>
        <p>Rating: {{item.comments[4].rating}}</p>
        <p>Comment: {{item.comments[4].value}}</p>
    </li>
</ul>
</div>