<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  
  <h2>
    This application is used to demonstrate some functionalities that are similar to a full-stack webpage using angular and node.
  </h2>
  
  <app-login></app-login>
  <login-form></login-form>
  <new-user></new-user>
  <app-items></app-items>
  <app-private-items></app-private-items>
  <app-list></app-list>
  <app-public-notice></app-public-notice>
  
  
</div>


<router-outlet></router-outlet>
